<html>
	<head>
		<style type="text/css">
			body {
				background: <%= color %>;
			}
		</style>
	</head>
	<body>
		<p>
			<%= message %>
		</p>
		<p>
			<%= "You have  #{@@guesses_remaining} guess(es) left" %>
		</p>

		<form>
			<input type="text" name="guess">
			<input type="submit" value="Guess!">
		</form>
	</body>
</html>
